body{
    font-size: 20px;
}
.lamp-ul li{
    margin-top: 15px;
}

.on-off-button{
    width: 200px;
    height: 40px;
}

.number-label{
    //display: inline;
    float:left;
    width: 40px;
    background-color: #red;
}

#origin-lamp{
    display: none;
}

.lamp-ul{
    list-style:none;
    float: left;
}

.clear{
    clear: both;
}