body{
    font-size: 20px;
}
.lamp-ul li{
    margin-top: 15px;
}

.on-off-button{
    width: 200px;
    height: 40px;
}

.number-label{
    float:left;
    width: 40px;
}

#origin-lamp{
    display: none;
}

.lamp-ul{
    list-style:none;
    float: left;
}

#origin-preset{
    display: none;
}

.preset{
    margin-left: 20px;
    width: 100px;
    height: 40px;
}

#origin-control{
    display: none;
}

.control{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
#control-status{
    margin-top: 20px;
}

.clear{
    clear: both;
}

