body{
    margin-left: 30px;
    font-size: 20px;
    width: 1000px;
}
.lamp-ul li{
    margin-top: 15px;
}

.on-off-button{
    width: 200px;
    height: 40px;
}

.number-label{
    float:left;
    width: 40px;
}

#origin-lamp{
    display: none;
}

.lamp-ul{
    list-style:none;
    float: left;
}

#origin-preset{
    display: none;
}

.preset{
    margin-right: 20px;
    margin-top: 20px;
    width: 120px !important;
    height: 50px !important;
    white-space: normal;
}


/*---- control button -----*/
.control{
    width: 200px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

#origin-control{
    display: none;
}

#control-status{
    display: none;
    margin-top: 20px;
}

.clear{
    clear: both;
}



#submit-button{
width: 100px;
height: 100px;
}

input[type=checkbox] {
width: 30px;
height: 30px;
vertical-align: middle;
}
